<h1 class="section-title">
  {{#if isEditing}}
    {{view App.ProjectFormView id="project-form"}}
  {{else}}
    {{name}} <small>{{format-date created_at}}</small>
    <ul id="project-actions">
      <li>
        <button {{action 'edit'}} class="btn btn-default">
          <span class="glyphicon glyphicon-pencil"></span>Edit
        </button>
      </li>
      <li>
      <button {{action 'destroy'}} class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>Remove
      </button>
      </li>
    </ul>
  {{/if}}
</h1>

<div class="table-responsive">
  <ul class="nav nav-pills" id="tasks-tabs">
    <li class="active"><a href="#">To do ({{tasks.length}})</a></li>
    <li><a href="#">Done (0)</a></li>
  </ul>

  <table class="table" id="project-tasks">
    <thead>
      <tr>
        <th class="done-col"></th>
        <th class="task-col"></th>
        <th class="priority-col">Priority</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#if tasks}}
        {{#each tasks}}
          <tr class="task">
            <td class="done-col">{{input type="checkbox"}}</td>
            <td>{{name}}</td>
            {{priority-helper priority}}
            <td>
              <button class="btn btn-default glyphicon glyphicon-pencil"></button>
              <button class="btn btn-danger glyphicon glyphicon-remove"></button>
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <tr>
            <td> No task found.</td>
          </tr>
        </tr>
      {{/if}}
      
      {{#if isAddingTask}}
      <tr>
        {{view App.TaskFormView id='new-task-form'}}
      </tr>
      {{/if}}
    </tbody>
  </table>

  <p id="add-new-task">
    {{#if isAddingTask}}
      <button type="button" class="btn btn-success btn-lg" {{action 'doneAddingTask'}}>Done</button>
    {{else}}
      <button type="button" class="btn btn-success btn-lg" {{action 'addTask'}}>Add new task</button>
    {{/if}}
  </p>
</div>