<h1 class="section-title">
  {{#if isEditing}}
    {{!-- <form class="form-inline" role="form" id="project-edit"> --}}
      {{view App.ProjectFormView}}  
    {{!-- </form> --}}
  {{else}}
    {{name}} <small>{{format-date created_at}}</small>
    <ul id="project-actions">
      <li><button {{action 'edit'}} class="btn btn-default">Edit</button></li>
      <li><button {{action 'destroy'}} class="btn btn-danger">Remove</button></li>
    </ul>
  {{/if}}
</h1>

<div class="table-responsive">
  <ul class="nav nav-pills" id="tasks-tabs">
    <li class="active"><a href="#">To do ({{tasks.length}})</a></li>
    <li><a href="#">Done (0)</a></li>
  </ul>

  <table class="table" id="project-tasks">
    <thead>
      <tr>
        <th>#</th>
        <th>Task</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
      {{#if tasks}}
        {{#each tasks}}
          <tr>
            <td>{{input type="checkbox"}}</td>
            <td>{{name}}</td>
            <td>{{priority}}</td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <tr>
            <td> No task found.</td>
          </tr>
        </tr>
      {{/if}}
      
      {{#if isAddingTask}}
      <tr>
        <td></td>
        <td>{{input type="text" value=newTask.name id="new-task"}}</td>
        <td>{{view Ember.Select content=priority value=newTask.priority}}</td>
      </tr>
      {{/if}}
    </tbody>
  </table>

  <p id="add-new-task">
    {{#if isAddingTask}}
      <button type="button" class="btn btn-success btn-lg" {{action 'doneAddingTask'}}>Done</button>
    {{else}}
      <button type="button" class="btn btn-success btn-lg" {{action 'addTask'}}>Add new task!</button>
    {{/if}}
  </p>
</div>