<h1 class="section-title">Projects <small>(working: {{projects.length}})</small></h1>
  
<div class="row container-fluid" id="projects-list">
  {{#each projects}}
    {{#if name}} {{view App.ProjectItemView}} {{/if}}
  {{/each}}
</div>

{{#if isAdding}}
  {{view App.ProjectFormView id="project-form"}}
{{else}}
  <button {{action 'new'}} class="btn btn-success btn-lg">Add New Project</button>
{{/if}}