<h1 class="section-title">
  Projects <small>(active: {{model.length}})</small>
</h1>
  
<div class="row container-fluid" id="projects-list">
  {{#each model}}
    {{view App.ProjectItemView}}
  {{/each}}
</div>

{{#if isAdding}}
  {{view App.ProjectFormView id="project-form"}}
{{else}}
  <button {{action 'new'}} class="btn btn-success btn-lg">
    Add New Project
  </button>
{{/if}}